html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: white;
}

.header-container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(20, 116, 204);
	background: -moz-radial-gradient(circle, rgba(20, 116, 204, 1) 16%, rgba(30, 43, 181, 1) 100%);
	background: -webkit-radial-gradient(circle, rgba(20, 116, 204, 1) 16%, rgba(30, 43, 181, 1) 100%);
	background: radial-gradient(circle, rgba(20, 116, 204, 1) 16%, rgba(30, 43, 181, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1474cc", endColorstr="#1e2bb5", GradientType=1);
}

.logo-icon {
	margin-left: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-text {
	font-size: 50px;
	margin-left: 15px;
	font-family: "Cairo Play", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-variation-settings:
		"slnt" 0;
	color: whitesmoke;
}

.logo {
	height: 80px;
	width: 80px;
	border: 2.5px solid;
	border-radius: 100px;
}

.nav-container {
	margin-right: 1%;
}

.nav-container>nav>a {
	font-size: 18px;
	padding: 5px;
	margin: 10px;
	color: whitesmoke;
	text-decoration: none;
	border: 2px solid;
	border-radius: 5px;
	font-family: "Cairo Play", sans-serif;
	font-weight: 600;
	font-variation-settings:
		"slnt" 0;
}

main>section {
	height: 250px;
	justify-content: space-evenly;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.text-main {
	text-align: center;
	color: whitesmoke;
}

.text-main>h1 {
	font-size: 50px;
	font-family: "Philosopher", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-optical-sizing: auto;
	font-weight: 600;
	color: black;
}

.text-main>h3 {
	font-size: 30px;
	font-family: "Damion", cursive;
	font-weight: 200;
	font-style: normal;
	color: darkgrey;
	margin-bottom: 10px;
}

.main-container {

	height: 600px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}

.img-container {
	width: 100%;
	height: 550px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.img-testimoni {
	width: 700px;
	height: 400px;
	align-self: center;
	margin-left: 50px;
	border: 2px;
	border-radius: 10px;
}

.text-testimoni {
	font-size: 20px;
	align-self: center;
	margin-top: 15px;
	margin-left: 100px;
	font-style: italic;
	text-align: left;
	color: darkgrey;
}

.container-img-testi-profile {
	width: 700px;
	height: 50px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
}

.testi-profile {
	align-self: left;
	width: 40px;
	height: 40px;
}

.container-text-testi-profile {
	align-self: center;
	margin-left: 20px;
}

.container-text-testi-profile>h1 {
	font-size: 18px;
	color: black;
	font-weight: 600;
}

.container-text-testi-profile>p {
	font-size: 14px;
	color: darkgrey;
	font-weight: 200;
}

.main-aside-container {
	margin-left: 10px;
	height: 550px;
	width: 100%;
}

.form-container {
	border: 2px solid;
	border-radius: 15px;
	height: 550px;
	width: 80%;
	margin: auto;
}

.form-container > h1 {
	font-size: 30px;
	color: black;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}

.form-container > p {
	font-size: 18px;
	color: black;
	font-weight: 200;
	text-align: center;
	margin-top: 10px;
}

.form-input-container {
	margin-top: 50px;
	margin-left: 30px;

}

.form-input-container > label{
	font-size: 18px;
}

.input-label {
	margin-top : 5px;
	width: 680px;
	height: 35px;
}

#option {
	width: 680px;
}

.form-button {
	width: 100%;
	height: 50px;
	align-content: center;
	text-align: left;
}

.form-button > button{
	font-size: 18px;
	font-weight: 200;
	height: 50px;
	margin-left: 30px;
	width: 680px;
}